<div class="p-10">
  <div class="sm:dropdown md:grid grid-cols-4 gap-5">
    <% @teams.each do |team| %>
      <button class="btn btn-primary"></i><%= team.name %></button>
    <% end %>
  </div>
</div>
