<div class="p-10">
  <h1 class="my-2">チーム一覧</h1>
  <div class="sm:dropdown md:grid grid-cols-4 gap-5">
    <% @teams.each do |team| %>
      <button class="btn btn-primary"><%= link_to team.name.to_s, team_path(team) %></button>
    <% end %>
  </div>
</div>
