<div class="overflow-x-auto">
  <%= link_to '一覧', teams_path, class: 'm-5 btn btn-primary' %>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>チーム名</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th><%= @team.id %></th>
        <td><%= @team.name %></td>
      </tr>
    </tbody>
  </table>
</div>
