<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
      <div>
        <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
          <%= image_tag 'about.jpg', class: 'h-full w-full object-cover object-center' %>
        </div>
      </div>

      <div class="md:pt-8">
        <p class="text-center font-bold text-indigo-500 md:text-left">League Highlightとは</p>
        <h1 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">動画を探す</h1>
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
          League Highlightでは、世界で最も人気のあるイングランドのプレミアリーグに参加している20チームのハイライト動画を視聴することができます。<br>
          各チームのハイライト動画は毎週更新されるため、最新の試合ハイライトを楽しむことができます。また、動画の視聴には会員登録は不要ですので、気軽にご覧ください。
        </p>
        <h2 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">お気に入りの動画をまとめる</h2>
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">ハイライト動画の中で気に入った動画があれば、会員登録後に利用可能な「ブックマーク」として追加することで、自分だけのハイライトリストを作成することができます。</p>
        <div>
          <%= image_tag 'bookmark.jpg', class: 'h-full w-full object-cover object-center' %>
        </div>
      </div>
    </div>
  </div>
</div>
