<div>
  <div class="p-4 md:p-8 lg:p-12 z-0">
    <h2 class="text-sm md:text-lg text-center font-midium">ブックマーク</h2>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-400">
    <%= render partial: 'videos/video', locals: { videos: @bookmark_videos } %>
  </div>
</div>
