<div class="flex flex-col md:flex-row justify-center md:justify-between border border-gray-200 w-full bg-base-100 shadow-xl p-4 md:p-8 lg:p-12 z-0">
  <div class="flex flex-col md:flex-row items-center md:items-start md:w-2/3 md:space-x-5 mb-4 md:mb-0">
    <div class="avatar mb-4 md:mb-0">
      <div class="w-24 rounded-full">
        <%= image_tag current_user.avatar_url %>
      </div>
    </div>
    <div class="flex flex-col space-y-2 md:pl-4">
      <div class="text-center md:text-left text-xl">
        <%= current_user.user_name.to_s %>
      </div>
      <div class="text-lg py-2">
        <%= current_user.email.to_s %>
      </div>
    </div>
  </div>
  <div class="flex justify-center md:justify-end mt-2 md:mt-0">
    <div class="">
      <%= link_to 'プロフィール編集', edit_profile_path, class: 'btn' %>
    </div>
  </div>
</div>
