<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <div class="grid grid-flow-col gap-x-10 text-xs md:text-base">
    <%= link_to 'League Highlightについて', about_path, class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: 'link link-hover' %>
    <%= link_to '利用規約', term_path, class: 'link link-hover' %>
  </div>
</footer>
